{% extends 'base.html' %}

{% block title %}Post {% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #title {
        background-image: url("static/images/podcast_img.jpg")

        }

    </style>
{% endblock %}
{% block header %}
<section class="title_podcast">
<div class="row">
     <div class="col-lg-12 m-auto">
         <div class="lch-title">
             <h1 class="lch-text">{{ post.title }}</h1>
             <p>Posted by<em>{{ post.author }}</em></p>
<!--            <p>Open up to find out your intrinsic <strong>Quality</strong> features, your <strong><em>desired</em></strong>  future is sure!</p>-->
         </div>

  </div>
</div>
</section>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <p class="post-body">
                {{ post.body }}
            </p>
        </div>
    </div>
</div>

{% endblock %}